.commentcard{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.footerby{
    margin-left: 75%;
}
.sendcomment{
    height: 50px;
    width: 50px;
    margin-left: 10px;
}
.commentinput{
    margin-left: 15px;
}
.cardcomment{
    width: 538px !important;
}
.commentbutton{
    margin-left: 65%;
    margin-top: 8%;
}
.commenticon{
    height: 30px;
    width: 30px;
    /* margin-left: 85%; */
}
.allicon{
    margin-right: 90px;
    margin-top: 15px
}